.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-video-1 {
  width: 533px;
  height: 300px;
  margin: 50px auto 60px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 191px;
  }

  .u-section-1 .u-video-1 {
    height: 191px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}

.u-section-2 .u-video-1 {
  width: 533px;
  height: 300px;
  margin: 50px auto 60px;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 191px;
  }

  .u-section-2 .u-video-1 {
    height: 191px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 400px;
}

.u-section-3 .u-video-1 {
  width: 533px;
  height: 300px;
  margin: 50px auto 60px;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 191px;
  }

  .u-section-3 .u-video-1 {
    height: 191px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 400px;
}

.u-section-4 .u-image-1 {
  width: 495px;
  height: 142px;
  box-shadow: 2px 0 0 0 rgba(255,0,0,0.02);
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 9px auto 0 305px;
}

@media (max-width: 991px) {
  .u-section-4 .u-image-1 {
    margin-left: 225px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-1 {
    margin-left: 45px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 99px;
  }

  .u-section-4 .u-image-1 {
    height: 99px;
    width: 342px;
    filter: none;
    margin: 1px -1px;
  }
}