.u-section-1 .u-sheet-1 {
  min-height: 135px;
}

.u-section-1 .u-text-1 {
  font-size: 8.75rem;
  letter-spacing: 15px;
  font-family: Honk;
  margin: 50px 0 32px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 344px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 139px;
  }

  .u-section-1 .u-text-1 {
    font-size: 5.625rem;
    letter-spacing: 10px;
    width: 527px;
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    margin: 20px auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 197px;
    font-size: 4.21875rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.125rem;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin: 17px 6px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 508px;
}

.u-section-2 .u-video-1 {
  height: 508px;
  width: 878px;
  margin: 0 auto;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 445px;
  }

  .u-section-2 .u-video-1 {
    height: 417px;
    margin-bottom: 40px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 313px;
  }

  .u-section-2 .u-video-1 {
    height: 313px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 198px;
  }

  .u-section-2 .u-video-1 {
    height: 198px;
    margin-bottom: 0;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 620px;
}

.u-section-3 .u-text-1 {
  font-family: Mali;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2;
  margin: 58px 0;
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 325px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-bottom: 1px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-top: 60px;
    font-size: 1.5555555555555554rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 304px;
  }

  .u-section-3 .u-text-1 {
    font-size: 0.875rem;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 12px;
    margin-bottom: 12px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 232px;
}

.u-section-4 .u-image-1 {
  width: 593px;
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 165px;
  }

  .u-section-4 .u-image-1 {
    width: 392px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 83px;
  }

  .u-section-4 .u-image-1 {
    animation-timing-function: ease;
    width: 250px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1404px;
}

.u-section-5 .u-text-1 {
  font-family: Mali;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 0 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    font-size: 1.125rem;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 759px;
  }

  .u-section-5 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-bottom: 39px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    font-size: 1rem;
    animation-duration: 5000ms;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 665px;
  }

  .u-section-5 .u-text-1 {
    font-size: 0.875rem;
    margin-top: 1px;
    margin-bottom: 15px;
  }
}